<!DOCTYPE html>
<html>
  <head>
    <title>Chirp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>hello!</h3>
    <p>Welcome to <%= title %></p>
  </body>
</html>
